<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associated Press</title>
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <link rel="shortcut icon" href="../../public/media/picture/Picture1.svg" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <button onclick="window.location.href = '/';">My Home Page</button>
            <button onclick="window.location.href = '/search';">Search</button>
        </nav>
    </header>
    <main>
        <h1>Associated Press</h1>
        <section>
            <h2>Latest World News</h2>
            <div class="video">
                <figure>
                    <iframe width="640" height="360"
                        src="https://www.youtube.com/embed/videoseries?list=PLnwt1fUa-EVjvQTA2AaRuGkRN_RjXY-35"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <figcaption>Associated Press Breaking News</figcaption>
                </figure>
            </div>
            <div class="text">
                <h2>News Feed</h2>
                <div class="current_events">
                    <h3>Current Events</h3>
                    <a href="https://apnews.com/hub/trending-news" target="_blank" aria-label="Associated Press Trending News"> More
                        Current Events</a>
                    <ul id="current_events">
                        <% for(let i = 0;i < newsArticles.length; i++) { %>
                            <li><%= `${newsArticles[i].title}`%>
                            <a href=<%=`${newsArticles[i].url}`%> target="_blank"  aria-label=<%=`Follow Article to ${newsArticles[i].source.name}`%>>Link</a>
                            </li>
                        <%} %>
                    </ul>
                </div>
                <div class="current_events">
                    <h3>Tech News</h3>
                    <a href="https://apnews.com/hub/technology" target="_blank" aria-label="Associated Press Tech News"> More
                        Tech News</a>
                    <ul id="current_events">
                        <% for(let i = 0;i < techNewsArticles.length; i++) { %>
                            <li><%= `${techNewsArticles[i].title}`%>
                            <a href=<%=`${techNewsArticles[i].url}`%> target="_blank"  aria-label=<%=`Follow Article to ${techNewsArticles[i].source.name}`%>>Link</a>
                            </li>
                        <%} %>
                    </ul>
                </div>
                <div class="current_events">
                    <h3>Business</h3>
                    <a href="https://apnews.com/hub/business" target="_blank" aria-label="Associated Press Business News"> More
                        Business News</a>
                    <ul id="current_events">
                        <% for(let i = 0;i < businessNewsArticles.length; i++) { %>
                            <li><%= `${businessNewsArticles[i].title}`%>
                            <a href=<%=`${businessNewsArticles[i].url}`%> target="_blank"  aria-label=<%=`Follow Article to ${businessNewsArticles[i].source.name}`%>>Link</a>
                            </li>
                        <%} %>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        &copy;2021, William Eng
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
    </footer>
</body>
</html>