<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBC</title>
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <link rel="shortcut icon" href="../../public/media/picture/Picture1.svg" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <button onclick="window.location.href = '/';">My Home Page</button>
            <button onclick="window.location.href = '/search';">Search</button>
        </nav>
    </header>
    <main>
        <h1>BBC</h1>
        <section>
            <h2>Latest World News</h2>
            <div class="video">
                <figure>
                    <iframe width="640" height="360"
                        src="https://www.youtube.com/embed/videoseries?list=PLS3XGZxi7cBVTzEE4Sim9UuNKnUJq9Vkh"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>Video File Not supported by your browser.</iframe>
                    <figcaption>BBC Latest World News Youtube Playlist</figcaption>
                </figure>
            </div>
            <div class="text">
                <h2>News Feed</h2>
                <div class="current_events">
                    <h3>Current Events</h3>
                    <a href="https://www.bbc.com/news" target="_blank" aria-label="BBC Trending News"> More Current
                        Events</a>
                    <ul>
                        <% for(let i=0;i < newsArticles.length; i++) { %>
                            <li>
                                <%= `${newsArticles[i].title}`%>
                                    <a target="_blank" href=<%=`${newsArticles[i].url}`%> aria-label=<%=`Follow Article
                                            to ${newsArticles[i].source.name}`%>>Link</a>
                            </li>
                            <%} %>
                    </ul>
                </div>
                <div class="current_events">
                    <h3>Tech News</h3>
                    <a href="https://www.bbc.com/news/technology" target="_blank" aria-label="BBC Tech News"> More
                        Tech News</a>
                    <ul>
                        <% for(let i=0;i < techNewsArticles.length; i++) { %>
                            <li>
                                <%= `${techNewsArticles[i].title}`%>
                                    <a href=<%=`${techNewsArticles[i].url}`%> target="_blank" aria-label=<%=`Follow
                                            Article to ${techNewsArticles[i].source.name}`%>>Link</a>
                            </li>
                            <%} %>
                    </ul>
                </div>
                <div class="current_events">
                    <h3>Business</h3>
                    <a href="https://www.bbc.com/news/business" target="_blank" aria-label="BBC Business News"> More
                        Business News</a>
                    <ul>
                        <% for(let i=0;i < businessNewsArticles.length; i++) { %>
                            <li>
                                <%= `${businessNewsArticles[i].title}`%>
                                    <a href=<%=`${businessNewsArticles[i].url}`%> target="_blank" aria-label=<%=`Follow
                                            Article to ${businessNewsArticles[i].source.name}`%>>Link</a>
                            </li>
                            <%} %>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        &copy;2021, William Eng
        <br>
        Contact Us
        <address>
            <a href="mailto:weng2@oakland.edu">Email</a>
        </address>
    </footer>
</body>

</html>